page-login {
  ion-title {
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center;
  }

  .login-button {
    margin-top: 2.5vh;
  }

  .signup-message {
    text-align: center;
  }

  .footer {
    margin-top: 10vh;
  }
}
