page-register {
  ion-title {
    margin-top: 7.5vh;
    margin-bottom: 3.5vh;
    text-align: center;
  }

  [ion-fixed] {
    height: 100%;
    width: 100%;
  }

  .signup-button {
    margin-top: 4vh;
  }

  .signup-message {
    text-align: center;
  }

  .footer {
    margin-top: 10vh;
  }
}
